#inner {
	width: 960px;
	color: #333333;
	font-family: Helvetica;
	margin: 0 auto;
}
body {
	background-image: url("../images/bg.png");
}

header {
	background: black;
}

nav {
	color: #cccccc;
	background-color: black;
	padding: 15px;
}

nav a {
	text-decoration: none;
	float: left;
	padding: 20px;
	text-align: center;
	color: white;
}

nav a:hover {
	color: #96ddfc;
}

.clearfix:after {
	 visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.google .twitter .facebook .rss {
	background-image: url("../images/socialNav.png");
	background-repeat: no-repeat;

}

.google {
  height: 48px;
  width: 48px;
  background: url("../images/socialNav.png") 0 0;
}

.twitter {
  height: 48px;
  width: 48px;
  background: url("../images/socialNav.png") 48 0;
}



.logo {
	float: left;
}

.img-box {
	margin: 20px;
	clear: right;
}

.img-box img {
	float: left;
}
.social-media {
	float: right;
}

.readmore {
	text-decoration: none;
	color: #1fa2e1;
}

.readmore:hover {
	text-decoration: underline;
}

.home-box {
	border: 6px solid #e2e2e2;
}

.home-box:hover {
	border: 6px solid #f9f9f9;
}

.blurb-border {
	border: 1px #e2e2e2 inset;
	clear: both;
	padding: 20px;
	margin-left: 20px;
	padding-left: 50px;
}
.column {
	width: 25%;
	margin: 40px;
	float: left;
}

footer {
	background-color: #000;
	color: #515151;
	font-size: 13px;

}

.footer-heading {
	color: #cccccc;
}

.footer-column1 {
	width: 20%;
	float: left;
	margin: 30px;
}

.footer-column2 {
	width: 40%;
	margin: 30px;
	float: left;
}

footer li a {
	text-align: left;
}

footer li a {
	text-decoration: none;
	color: #515151;
	display: block;
}

footer li {
	list-style: none;
	display: block;
	padding: 5px 0px 5px 0px;
	border-bottom: 1px solid #515151;
}

footer h1 {
	padding-bottom: 10px;
	border-bottom: #515151 1px solid;
}

.credits {
	float: right;
}

.blurb-text {
	float: left;
	width: 60%;
}

.blurb {
	float: right;
	margin-right: 20px;
}

.footer-footer {
	clear: both;
}
.copyright {
	padding-left: 30px;
}

.footer-footer a {
	text-decoration: none;
	color: #1fa2e1;
}
